h1 {
	font-weight: normal;
}

body{
	background-image: url("http://icie.cs.byu.edu/images/background2.jpg");
}

* {
	font-family: "Arial";
}

.pane {
	background-color: #F0E6D2;
	width: 250px;
	border-style: solid;
	border-color: brown;
	border-width: 1px;
	margin-top: 30px;
    margin-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
}

#showoff {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 0px;
	box-shadow: 10px 10px 5px #A8A8A8;
}





/*

The text inside of the boxes is 15 pixels high and 20 pixels from the right edge of the box

It is 250 pixels from the right edge to the left edge of each box.*/