<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Layout</title>
</head>
<body>

<div class="section">

		<div class="column">
			<p>name: George</p>
		</div>
		<div class="column">
			<p>address: 1234 Mockingbird Lane, Somewhere, AL 12343</p>
		</div>
		<div class="column">
			<p>phone: (123) 456-7890</p>
		</div>
		<div class="column">
			<p>
			George was born in Alabama at a very early age. His closest relatives
			were his mother and father. He had seven brothers and 4 sisters as well
			as two dogs and a cow.
			</p>
		</div>

</div>

</body>
</html>